* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a { 
    text-decoration: none;
    color: white;
}

ul { list-style: none;}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
    color: white;
    position: relative;
}

.navbar .nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}


.navbar-toggler {
    border: none;
    background: transparent;
    color: white;
    font-size: 1.5rem;
    padding: 1rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%); /* cool way to center an element vertically, top, transform, position abs and relative on container*/
    right: 1rem;
    cursor: pointer;
    display: none;
    /* transition: background-image 0.2s ease-in; // is there any way to add a transition to the i tag*/
}

@media(max-width: 900px) {
    .navbar {
        flex-direction: column;
    }

    .navbar .nav-menu  {
        flex-direction: column;
        justify-content: flex-start;
        height: 0;
        transition: height 1s ease;
        visibility: hidden;
        transition: height 1s ease;

    }

    .navbar .navbar-brand {
        align-self: flex-start;
    }

    .navbar-toggler { display: inline-block;}


    .nav-menu[data-visible="true"] {
        height: 25vh;
        visibility: visible;
        transition: all 1s ease;
    }

}